/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  padding-top: 80px;
  overflow-y: hidden;
  background: hsla(4, 48%, 94%, 1);

  background: linear-gradient(
    90deg,
    hsla(4, 48%, 94%, 1) 0%,
    hsla(66, 70%, 80%, 1) 50%,
    hsla(226, 67%, 76%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(4, 48%, 94%, 1) 0%,
    hsla(66, 70%, 80%, 1) 50%,
    hsla(226, 67%, 76%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(4, 48%, 94%, 1) 0%,
    hsla(66, 70%, 80%, 1) 50%,
    hsla(226, 67%, 76%, 1) 100%
  );  
}

.fc-title{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}